<div class = "table_body">
    <br>
    <h1>Робітники</h1>  
    <div style="text-align: right;">
    <button id="addRowButton2" (click)="addRowPlaceholder()" class="add-button">Додати новий запис</button>
    <div id = "addRowTable2" style = "display: none; margin-top: 7px; margin-bottom: 7px;">
      <table>
        <tr style="background-color: rgba(60, 87, 107, 0.2)">
          <td>
            <input id="addRowId2" placeholder="ID" type="number" value="-" readonly style="display: none;">
            Заповніть поля для нового запису
          </td>  
          <td>
            <input id="addRowFullName2" placeholder="Повне ім'я" type="text" style="width: 270px;">
          </td>  
          <td>
            <input id="addRowAge2" placeholder="Вік" type="number" style="width: 35px;">
          </td>  
          <td>
            <select id="addRowSex2">
              <option value="male">чоловік</option>
              <option value="female">жінка</option>
            </select>
          </td>
          <td>
            <input id="addRowPositionId2" placeholder="Код посади" type="number" style="width: 85px;">
          </td> 
          <td style="width: 130px;">
            <button (click)="addRow()" class="edit-buttons" style="background-color: rgba(3, 140, 10, 0.2)">
              <img src="../../assets/add.png" style="width: 20px; height: 20px;">
            </button>
            <button (click)="closeAddRowPlaceholder()" class="edit-buttons" style="background-color: rgba(82, 7, 15, 0.2)">
              <img src="../../assets/x-mark.png" style="width: 20px; height: 20px;">
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="tbl-content">
      <table>  
        <thead>  
            <tr style="background-color: rgba(0, 0, 0, 0.5)">  
              <th>ID</th>  
              <th>Повне ім'я</th>  
              <th>Вік</th>  
              <th>Стать</th>
              <th>Код посади</th>  
              <th>Дії</th>
            </tr>  
        </thead>  
        <tbody *ngFor="let worker of workers">  
            <tr>  
              <td>{{ worker.id }}</td>  
              <td>{{ worker.full_name }}</td>  
              <td>{{ worker.age }}</td>  
              <td>
                {{ worker.sex === 'male' ? 'чоловік' : 'жінка' }}
              </td>
              <td>{{ worker.position_id }}</td> 
              <td>
                <div id="edit-buttons2{{worker.id}}">
                    <button (click)="addEditRow(worker)" class="edit-buttons">
                      <img src="../../assets/edit.png" style="width: 20px; height: 20px;">
                    </button>
                    <button (click)="deleteRow(worker)" class="edit-buttons">
                      <img src="../../assets/delete.png" style="width: 20px; height: 20px;">
                    </button>
                </div>
              </td>
            </tr>
            <tr id="edit2{{worker.id}}" style="background-color: rgba(0, 0, 0, 0.5); display: none;" class = "table_body">  
              <td>
                <input id="id2{{worker.id}}" type="number" readonly style="display: none;">
              </td>  
              <td>
                <input id="full_name2{{worker.id}}" class="text" style="width: 270px;">
              </td>  
              <td>
                <input id="age2{{worker.id}}" type="number" style="width: 35px;">
              </td>  
              <td>
                <select id="sex2{{worker.id}}">
                    <option value="male">чоловік</option>
                    <option value="female">жінка</option>
                  </select>
              </td>
              <td>
                <input id="position_id2{{worker.id}}" type="number" style="width: 85px;" > 
              <td>
                <button (click)="approveEditRow(worker)" class="edit-buttons" style="background-color: rgba(3, 140, 10, 0.2)">
                  <img src="../../assets/checkmark.png" style="width: 20px; height: 20px;">
                </button>
                <button (click)="closeEditRow(worker)" class="edit-buttons" style="background-color: rgba(82, 7, 15, 0.2)">
                  <img src="../../assets/x-mark.png" style="width: 20px; height: 20px;">
                </button>
              </td>
            </tr>
        </tbody>  
      </table>  
    </div>
  </div>
</div>
